div#footer
	text-align: center
	padding: 20px 0
	background-color: grey
	color: white
	div#navDiv
		nav#bottomNav
			ul.mainLinks
				li
					list-style-type: none
					display: inline-block
					padding: 0 15px
					font-weight: 700					
					a
						text-decoration: none
						text-transform: uppercase
						font-family: arial, helvetica, sans-serif
						color: inherit
	div.copyright
		width: 85%
		padding: 10px 10px 0 10px
		border-top: 1px solid white
		margin: auto
		span#left
			float: left
		span#right
			float: right
	//adding clear element in copyrighht div so it can handle floating child elements
	&:after
		content: ""
		display: block
		clear: both