@import import/variables	
body
	margin: 0
	div#wrapper
		@import import/header.sass
		div#banner
			content: url(../img/about/banner.jpg)
			height: auto
			width: 100%
		div#content
			font-family: arial, helvetica, sans-serif		
			padding: 20px 50px
			background-color: $lightPurple
			h1
				color: orange
			
	@import import/footer.sass

@media only screen and (max-width: 450px)
	body
		div#wrapper
			div#content
				padding: 20px 20px