@import import/variables	
body
	margin: 0
	div#wrapper
		@import import/header.sass
		div#banner
			content: url(../img/about/banner.jpg)
			height: auto
			width: 100%
		div#content
			font-family: arial, helvetica, sans-serif		
			padding: 20px 50px
			background-color: $lightPurple
			div#formWrap
				p
					input, textarea
						padding: 10px
						border: 1px solid #E5E5E5
						width: 200px
						color: #999999
						box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px
					textarea
						height: 200px
						width: 400px

	@import import/footer.sass

@media only screen and (max-width: 450px)
	body
		div#wrapper
			div#content
				padding: 20px 20px