body {
  margin: 0; }
  body div#wrapper div.Section {
    padding: 50px 100px; }
    body div#wrapper div.Section h1 {
      margin: 0 0 20px 0;
      padding: 0 0 10px 0;
      color: #00B0DC;
      font-family: arial, helvetica, san-serif;
      border-bottom: 1px solid #00B0DC; }
    body div#wrapper div.Section h3 {
      color: #00B0DC; }
    body div#wrapper div.Section p {
      color: rgba(0, 0, 0, 0.8);
      line-height: 1.5;
      font-family: arial, helvetica, san-serif; }
    body div#wrapper div.Section a.cta {
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;
      font-weight: 800;
      font-family: arial, helvetica, san-serif;
      color: #FAAC58;
      border: 2px solid #FAAC58;
      padding: 5px 15px;
      margin-top: 15px;
      font-size: 1.2em;
      transition: color 0.3s;
      transition: background-color 0.3s; }
      body div#wrapper div.Section a.cta:hover {
        color: white;
        background-color: #FAAC58; }
  body div#wrapper div#header {
    background-color: #F3F3DC;
    text-align: center; }
    body div#wrapper div#header div#headerInner {
      width: 90%;
      margin: auto;
      text-align: initial; }
      body div#wrapper div#header div#headerInner:after {
        content: "";
        display: table;
        clear: both; }
      body div#wrapper div#header div#headerInner div#logo {
        margin: auto;
        float: left;
        padding: 10px 0; }
        body div#wrapper div#header div#headerInner div#logo a img#topLogo {
          height: 60px;
          width: 230px; }
      body div#wrapper div#header div#headerInner label.toggle {
        display: none; }
      body div#wrapper div#header div#headerInner input#toggler {
        display: none; }
      body div#wrapper div#header div#headerInner div#navDivH {
        margin: 4px 0 2px 0;
        float: right; }
        body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul.mainLinks, body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul {
          display: block;
          background-color: #F3F3DC;
          margin: 0;
          padding: 0;
          z-index: 2; }
          body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul.mainLinks li, body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul li {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            padding: 15px 0;
            box-sizing: border-box;
            text-transform: uppercase;
            font-family: Helvetica, Arial, sans-serif;
            color: rgba(0, 0, 0, 0.5);
            font-weight: 600;
            list-style-type: none; }
            body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul.mainLinks li:hover > a:after, body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul li:hover > a:after {
              opacity: 1;
              width: 100%; }
            body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul.mainLinks li ul, body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul li ul {
              display: none;
              min-width: 100%;
              width: auto; }
              body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul.mainLinks li ul li, body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul li ul li {
                white-space: nowrap; }
                body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul.mainLinks li ul li a:after, body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul li ul li a:after {
                  display: none; }
            body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul.mainLinks li ul:before, body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul.mainLinks li ul:after, body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul li ul:before, body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul li ul:after {
              content: " ";
              display: table; }
            body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul.mainLinks li ul:after, body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul li ul:after {
              clear: both; }
            body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul.mainLinks li:hover > ul, body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul li:hover > ul {
              display: block;
              position: absolute;
              top: 100%;
              border-top: 1px solid red; }
              body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul.mainLinks li:hover > ul li, body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul li:hover > ul li {
                width: 100%;
                display: block;
                height: initial;
                padding: 0; }
                body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul.mainLinks li:hover > ul li a, body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul li:hover > ul li a {
                  display: block;
                  text-decoration: none;
                  color: inherit;
                  padding: 12px 15px;
                  font-size: 0.9em; }
                  body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul.mainLinks li:hover > ul li a:hover, body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul li:hover > ul li a:hover {
                    background-color: white;
                    color: black; }
            body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul.mainLinks li a, body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul li a {
              display: block;
              text-decoration: none;
              color: inherit;
              padding: 12px 15px;
              font-size: 1em; }
              body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul.mainLinks li a:hover, body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul.mainLinks li a.active, body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul li a:hover, body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul li a.active {
                color: black; }
              body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul.mainLinks li a:after, body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul li a:after {
                content: "";
                display: block;
                width: 0;
                height: 3px;
                background-color: orange;
                opacity: 0;
                transition: width 0.7s; }
              body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul.mainLinks li a.active:after, body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul li a.active:after {
                opacity: 1;
                width: 100%; }
  @media only screen and (max-width: 1160px) {
    body div#wrapper div#header div#headerInner div#navDivH nav#topNav ul.mainLinks li a {
      padding: 12px 6px; } }
  @media only screen and (max-width: 1040px) {
    body div#wrapper div#header div#headerInner {
      text-align: center; }
      body div#wrapper div#header div#headerInner div#logo {
        float: none; }
      body div#wrapper div#header div#headerInner div#navDivH {
        float: none; } }
  @media only screen and (max-width: 765px) {
    body div#wrapper div#header div#headerInner {
      margin: 0 0 0 0;
      width: 100%; } }
  body div#wrapper div#clients {
    text-align: center;
    background-color: #F3F3DC; }
    body div#wrapper div#clients div.client {
      display: inline-block;
      height: auto;
      width: 250px;
      margin: 10px 0; }
      body div#wrapper div#clients div.client img {
        height: auto;
        width: 100%; }
    body div#wrapper div#clients div.clear {
      padding-bottom: 15px; }
  body div#wrapper div#services {
    text-align: center;
    background-color: white; }
    body div#wrapper div#services h1 {
      text-decoration: none; }
    body div#wrapper div#services div.subservices {
      display: inline-block;
      text-align: initial;
      height: auto;
      width: 30%;
      margin: 0 10px 50px 0;
      border-radius: 3%; }
      body div#wrapper div#services div.subservices h3 {
        color: #FAAC58;
        font-family: arial, helvetica, san-serif; }
  @media only screen and (max-width: 890px) {
    body div#wrapper div#services div.subservices {
      width: 45%; } }
  @media only screen and (max-width: 700px) {
    body div#wrapper div#services div.subservices {
      display: block;
      width: 100%; } }
  body div#wrapper div#profile {
    background-color: #F3F3DC; }
  body div#wrapper div#brands {
    text-align: center;
    background-color: white; }
    body div#wrapper div#brands div.brand {
      display: inline-block;
      height: auto;
      width: 240px;
      margin: 10px 0; }
      body div#wrapper div#brands div.brand img {
        height: auto;
        width: 80%; }
    body div#wrapper div#brands div.clear {
      padding-bottom: 15px; }
  body div#wrapper div#footer {
    text-align: center;
    padding: 20px 0;
    background-color: #6956A7;
    color: white; }
    body div#wrapper div#footer div#navDivF nav#bottomNav ul.mainLinks {
      padding: 0 20px; }
      body div#wrapper div#footer div#navDivF nav#bottomNav ul.mainLinks span.bNav {
        vertical-align: top; }
        body div#wrapper div#footer div#navDivF nav#bottomNav ul.mainLinks span.bNav li {
          list-style-type: none;
          display: inline-block;
          padding: 0 15px;
          font-weight: 700;
          margin-bottom: 10px; }
          body div#wrapper div#footer div#navDivF nav#bottomNav ul.mainLinks span.bNav li a {
            text-decoration: none;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.8); }
            body div#wrapper div#footer div#navDivF nav#bottomNav ul.mainLinks span.bNav li a:hover, body div#wrapper div#footer div#navDivF nav#bottomNav ul.mainLinks span.bNav li a.active {
              color: white; }
    body div#wrapper div#footer div.copyright {
      width: 85%;
      padding: 10px 10px 0 10px;
      border-top: 1px solid white;
      margin: auto; }
      body div#wrapper div#footer div.copyright span#left {
        float: left; }
      body div#wrapper div#footer div.copyright span#right {
        float: right; }
    body div#wrapper div#footer:after {
      content: "";
      display: block;
      clear: both; }
  @media only screen and (max-width: 820px) {
    body div#wrapper div#footer div#navDivF nav#bottomNav ul.mainLinks {
      padding: 0 20px; }
      body div#wrapper div#footer div#navDivF nav#bottomNav ul.mainLinks span.bNav {
        text-align: left;
        display: inline-block; }
        body div#wrapper div#footer div#navDivF nav#bottomNav ul.mainLinks span.bNav li {
          display: block; }
    body div#wrapper div#footer div.copyright span#left {
      float: none;
      display: block; }
    body div#wrapper div#footer div.copyright span#right {
      float: none;
      display: block;
      margin-top: 5px; } }

@media only screen and (max-width: 890px) {
  body {
    margin: 0; }
    body div#wrapper div.Section {
      padding: 50px 15px; }
      body div#wrapper div.Section p {
        font-weight: 100; } }

/*# sourceMappingURL=main.css.map */
