@import import/variables	
body
	margin: 0
	div#wrapper
		//setting properties for all the sections on home page
		div.Section
			padding: 50px 100px
			h1
				margin: 0 0 20px 0
				padding: 0 0 10px 0
				color: #00B0DC//#FAAC58
				font-family: arial, helvetica, san-serif
				border-bottom: 1px solid #00B0DC
			h3
				color: #00B0DC
			p
				font-family: arial, helvetica, san-serif
			//setting look of all cta links on home page
			a.cta
				text-decoration: none
				text-transform: uppercase
				cursor: pointer
				font-weight: 800
				font-family: arial, helvetica, san-serif
				color: #FAAC58
				border: 2px solid #FAAC58
				padding: 5px 15px
				margin-top: 15px
				font-size: 1.2em
				transition: color 0.3s
				transition: background-color 0.3s
				&:hover
					color: white
					background-color: #FAAC58
		//import other sass to main sass file
		@import import/header
		@import import/index/banner
		@import import/index/profile
		@import import/index/services
		@import import/index/clients
		@import import/index/brands
		@import import/footer

@media only screen and (max-width: 550px)
	body
		margin: 0
		div#wrapper
			//setting properties for all the sections on home page
			div.Section
				padding: 50px