@import import/variables	
body
	margin: 0
	div#wrapper
		@import import/header.sass
		div#banner
			content: url(../img/about/banner.jpg)
			height: auto
			max-width: 100%
			&:after
				content: url(../img/about/banner.jpg)
				max-width: 100%
				width: auto

		div#maincontent
			font-family: arial, helvetica, sans-serif		
			padding: 20px 10px
			background-color: $lightPurple
			width: 100%
			box-sizing: border-box
			display: flex
			div#clearflow
			div#sideNav
				flex: 0 0 250px			
				nav
					ul
						border-radius: 10px
						list-style-type: none
						background-color: grey
						display: inline-block
						padding: 5px 10px
						margin: 0
						li
							padding: 10px 5px
							margin: 0

							a
								text-decoration: none
								color: white
								font-weight: 600
								&.active
									color: orange
			div#products
				margin-left: 20px
				padding: 0 15px
				border-left: 1px solid rgba(0,0,0,0.6)
				h1
					color: orange
					font-size: 3em
				p, ol li
					line-height: 1.4
				div.sysCat
					border-bottom: 1px solid black
					h2
						font-size: 1.8em
						color: rgba(105,86,167,1)
					div.systems
						padding-bottom: 50px
						padding-left: 20px
						h3
							font-size: 1.7em
							color: rgba(105,86,167,0.9)
							margin-bottom: 0
						div.brands
							padding-left: 30px
							margin-top: 30px
							h4
								color: rgba(105,86,167,0.8)
								font-size: 1.6em
								margin-bottom: 0
							p
								color: rgba(0,0,0,0.8)

							div.pics
								background-color: white
								border: 2px solid #6956A7
								border-radius: 15px
								text-align: center
								display: flex
								justify-content: space-around
								align-items: center
								div img
									width: 100%
									max-width: 150px
			&.fixed
				div#clearflow
					flex: 0 0 250px
				div#sideNav
					position: fixed
					top: 15px
			&:after
				content: ""
				display: table
				clear: both	

	@import import/footer.sass

@media only screen and(max-width: 900px)
	body
		div#wrapper
			div#maincontent
				display: block
				div#sideNav
					display: none
				div#products
					margin: 0
					border: none
				